
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        
        tr {
            border-bottom: 1px solid #ddd;
        }
        tr:hover {background-color: #D6EEEE;}
    </style>
</head>

<p>
    Optimal Objective: {{z}}
</p>

<table>
<tr>
    <th>Potion</th>
    <th>Count</th>
    <th>Value</th>
    <th>Ingredient 1</th>
    <th>Ingredient 2</th>
    <th>Ingredient 3</th>
    <th>Effect</th>
</tr>
{% for key, value in df.iterrows() %}
<tr>
<td>{{ value['name'] }} </td>
<td>{{ value['count'] }} </td>
<td>{{ value['value'] }} </td>
<td>{{ value['first_ingredient'] }} </td>
<td>{{ value['second_ingredient'] }} </td>
<td>{{ value['third_ingredient'] }} </td>
<td>{% for description in value['descriptions'] %} 
    {{description}}
    <br>
    {% endfor %}
</td>
</tr>
{% endfor %}
</table>

<table>
    {% for key, value in remaining_inventory.iterrows() %}
    <td>{{ key }} </td>
    <td>{{ value['inventory'] }} </td>
    {% endfor %}
</table>
</form>